@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');




body {
  font-family: Arial, sans-serif, 'Roboto', 'Roboto Slab', 'Bungee Spice', 'Cairo Play', 'Montserrat';
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Faz com que o conteúdo ocupe pelo menos a altura da tela */
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #2ca9bc, #007BFF);
  max-height: 85px;
}

nav a {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

nav li {
  list-style: none;
  /* Remover marcadores de lista */
}

nav a:hover {
  color: rgb(32, 216, 109);
}

h1 {
  font-family: 'Bungee Spice', sans-serif;
}

.h1-a {
  font-family: 'Bungee Spice', sans-serif;
  background-color: #007BFF;
  border-radius: 15%;
}

h2 {
  font-family: 'Roboto Slab', sans-serif;
  color: #007BFF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #007BFF;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #007BFF;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.footer {
  display: grid;
  background: linear-gradient(to right, #007BFF, #2ca9bc);
  color: white;
  text-align: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.container-create-products {
  display: grid;
  justify-content: space-evenly;
}

.message-container {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container-upload {
  display: grid;
  justify-content: center;
}

.uploaded-images {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.upload-button {
  display: flex;
}

.product-images {
  display: flex;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 3;
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal-close {
  float: right;
  font-size: 16px;
  color: #fff;
  background-color: #f34a5c;
  border-radius: 4px;
  cursor: pointer;
}

.image-in-modal {
  width: 150px;
  /* ajuste conforme necessário */
  height: 150px;
  /* ajuste conforme necessário */
  object-fit: cover;
}

.selected-image-modal {
  border: 3px solid greenyellow;
  /* ajuste conforme necessário */
}


.selected-image {
  width: 120px;
  /* imagens selecionadas do cadastro de produtos */
  height: 100px;
  object-fit: cover;
  margin-inline: 10px;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  /* Centraliza verticalmente na tela */
}

.center-container-login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px; /* Limita a largura do formulário */
  margin: 0 auto; /* Centraliza o formulário na página */
  padding: 40px;
  background: linear-gradient(to right, #2ca9bc, #007BFF);
  border: 1px solid #ddd;
  border-radius: 15px; /* Bordas mais suaves */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra sutil para dar profundidade */
  min-height: 85vh; /* Faz com que o formulário se expanda até o rodapé da página */
}

.center-container-edit {
  display: grid;
  height: 25vh;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.center-container-adm {
  display: flex;
  height: 25vh;
  justify-content: center;
  align-items: center;
}

.center-title {
  text-align: center;
  justify-content: center;
}

.right-float {
  float: right;
}


.side-menu,
.main-content,
.right-menu {
  width: 30%;
  /* Ajuste o valor conforme necessário */
}

.side-menu,
.right-menu {
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #ddd;
}

.main-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
}

.form-group {
  margin-bottom: 20px;
  display: grid;
  justify-content: space-around;
  justify-items: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  /* adiciona margem à direita */
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007BFF;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:disabled {
  /* estilo de botao desabilitado */
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.button:not(:disabled):hover {
  /* seletor :not para desabilitar o hover quando o status do button = disable*/
  background-color: #0056b3;
  color: chartreuse;
}

.button-remove-produdct {
  display: grid;
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #f34a5c;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-remove-produdct:not(:disabled):hover {
  /* seletor :not para desabilitar o hover quando o status do button = disable*/
  background-color: #b30000;
  color: chartreuse
}

.button-login {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007BFF;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-login:disabled {
  /* estilo de botao desabilitado */
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.button-login:not(:disabled):hover {
  /* seletor :not para desabilitar o hover quando o status do button = disable*/
  border-color: greenyellow;
  color: greenyellow;
}

.button-login-a {
  margin: 15px;
  font-size: 16px;
  color: #fff;
  background-color: #e7613c;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-login-a:disabled {
  /* estilo de botao desabilitado */
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.button-login-a:not(:disabled):hover {
  /* seletor :not para desabilitar o hover quando o status do button = disable*/
  border-color: greenyellow;
}


form button {
  margin-top: 10px;
}

.search-bar {
  font-size: 15px;
  text-align: center;
}

textarea,
input[type='text'],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

textarea,
input[type='email'],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

textarea,
input[type='password'],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

ul {
  padding: 0;
}

ul>li {
  list-style-type: none;
  margin-bottom: 10px;
}

ul>li>button {
  margin-right: 10px;
}

.submenu {
  position: relative;
  display: inline-block;
}

.submenu-content {
  display: none;
  position: absolute;
  background-color: #ac2727;
  min-width: 160px;
  z-index: 1;
  list-style: none;
  padding: 0;
}

.submenu-content li {
  border-bottom: 1px solid #0c0c0c;
}

.submenu-content li:last-child {
  border-bottom: none;
}

.submenu:hover .submenu-content {
  display: block;
}

.center-menu {
  display: flex;
  justify-content: center;
}

.error-messages,
.success-messages {
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  display: flex;
}

.error-messages {
  color: red;
  font-style: normal;
  font-size: large;
  margin: 0;
}

.success-messages {
  color: green;
  font-style: normal;
  font-size: large;
  margin: 0;
}

.error-messages-login {
  padding-top: 120px;
  position: fixed;
  top: 0;

}


.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.card {
  margin: 10px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

/* Animações */

.loading-animation {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.loading-animation:before,
.loader {
  content: '';
  border: 3px solid whitesmoke;
  border-top: 3px solid yellowgreen;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}